
.header{
  width: 100%;
  margin:0;
  }
  .headerimage{
    max-width:100%;
    z-index:-100;
margin:0;
position:absolute;
  }
br {
  line-height: 50%;
    }
h1{
  font-family:sans-serif;
  padding-top:300px;
  margin-left: 150px;
  font-size: 100px;
color:white;
z-index:100;
}
h2{
  font-family:'Arimo', bold, sans-serif;
  padding-left: 150px;
    font-size: 16px;
    width:40%;
  color:white;
  z-index: 100;
}
.author{
  font-family:'Arimo', bold, sans-serif;
  padding-left: 150px;
  font-size:12px;
  color: white;
  line-height: 70%;
  z-index: 100;
}
.paragraph1{
  font-family: 'Arimo', sans-serif;
  font-size: 17px;
  display:flex;
  flex-direction: column;
flex-wrap: wrap;
line-height: 150%;
margin-top:250px;

}
.text{
    font-family: 'Arimo', sans-serif;
  font-size: 17px;
  display:flex;
  flex-direction: column;
flex-wrap: wrap;
line-height: 160%;
width:60%;
margin-left:150px;

}
.textfloatleft{
  font-family: 'Arimo', sans-serif;
font-size: 17px;
margin-right: 150px;
line-height: 160%;
margin-left:150px;

}
.image{
  max-width:30%;
  float:right;
margin-right:150px;
margin-bottom:30px;
margin-left:30px;
}
.pullquote1{
  font-weight: bold;
  font-size: 24px;
  width:45%;
  margin-left:160px;

}
.backgroundquote{
  background-color: black;
  max-width:100%;

  padding:5% 10%;
}

.pullquote2{
  font-weight: bold;
  text-align:left;
  font-size:48px;
  line-height: 160%;
  width:70%;
  margin-left:10px;

  color:white;
}

.pullquote3{
  font-weight: bold;
  text-align:center;
  font-size:28px;
  width:70%;
  margin-left:140px;
}
.floatboxes{
  padding-right: 150px;
  padding-top: 10px;
}
.textfloatright{
  font-family: 'Arimo', sans-serif;
font-size: 17px;
line-height: 160%;
margin-left:150px;
}

.image2{
float:left;
  margin-top:20px;
  margin-bottom:30px;
  margin-left:150px;
    margin-right: 30px;
    width:40%;

}

@media only screen and (max-width: 950px) {
.paragraph1{
  margin-top: 10%;
}
  .text {
        margin-left:100px;
        width:70%;
    }
    .pullquote1{
      width:70%;
      margin-left:40px;
}
.pullquote2{
  width:100%;
  margin-left:10px;
}
.pullquote3{
  width:75%;
  margin-left:40px;
}
.textfloatleft{
  margin-left:100px;
}
.image2{
  margin-left:100px;
}
.textfloatright{
  margin-left:100px;
}

}
@media only screen and (max-width: 950px) {
.paragraph1{
  margin-top: 8%;
}
  .text {
        margin-left:50px;
        width:80%;
    }
    .pullquote1{
      width:70%;
      margin-left:40px;
}
.pullquote2{
  width:100%;
  margin-left:10px;
}
.pullquote3{
  width:75%;
  margin-left:40px;
}
.image{
  margin-right:50px;
}
.textfloatleft{
  margin-left:50px;
}
.floatboxes{
  padding-right:50px;
}
.image2{
  margin-left:50px;
}
.textfloatright{
  margin-left:50px;
}
}
@media only screen and (max-width: 550px) {
  .header{
    max-width:100%;

  }
.paragraph1{
  margin-top: 25px;
}
  .text {
  margin-left:40px;
max-width:95%;
}
.pullquote1{
  max-width:100%;
  margin-left:30px;
}
.backgroundquote{
  padding: 3% 10%;
}
.pullquote2{
  max-width:100%;
  margin-left:30px;
  font-size: 24px;
  margin-left:0;

}
.pullquote3{
  max-width:95%;
  margin-left:30px;
}
.image{
  width:auto;
  float:none;
  max-width:100%;
}
.textfloatleft{
  margin-left:30px;
  margin-right: 30px;

}
.image2{
  width:auto;
  float:none;
  max-width:100%;
  padding:0;
  margin-left:30px;
}


}
