
.header{
  width: 100%;
  margin:0;
  }
  .headerimage{
    z-index:-100;
margin:0;
position:absolute;
  }
br {
  line-height: 50%;
    }
h1{
  font-family:sans-serif;
  padding-top:300px;
  margin-left: 150px;
  font-size: 100px;
color:white;
z-index:100;
}
h2{
  font-family:'Arimo', bold, sans-serif;
  padding-left: 150px;
    font-size: 16px;
    width:40%;
  color:white;
  z-index: 100;
}
.author{
  font-family:'Arimo', bold, sans-serif;
  padding-left: 150px;
  font-size:12px;
  color: white;
  line-height: 70%;
  z-index: 100;
}
.paragraph1{
  font-family: 'Arimo', sans-serif;
  font-size: 17px;
  display:flex;
  flex-direction: column;
flex-wrap: wrap;
line-height: 150%;
margin-top:250px;
z-index:100;
}
.text{
    font-family: 'Arimo', sans-serif;
  font-size: 17px;
  display:flex;
  flex-direction: column;
flex-wrap: wrap;
line-height: 160%;
width:60%;
margin-left:150px;
z-index:100;
}
.textfloatleft{
  font-family: 'Arimo', sans-serif;
font-size: 17px;
display:flex;
flex-direction: column;
flex-wrap: wrap;
line-height: 160%;
width:40%;
margin-left:150px;
z-index:100;
}
.image{
  max-width:30%;
  float:right;
margin-right:150px;
margin-bottom:30px;
}
.pullquote1{
  font-weight: bold;
  font-size: 24px;
  width:45%;
  margin-left:160px;
  z-index:100;
}
.backgroundquote{
  background-color: black;
  max-width:100%;

  padding:5% 10%;
}

.pullquote2{
  font-weight: bold;
  text-align:left;
  font-size:48px;
  line-height: 160%;
  width:70%;
  margin-left:10px;
  z-index:100;
  color:white;
}

.pullquote3{
  font-weight: bold;
  text-align:center;
  font-size:28px;
  width:70%;
  margin-left:140px;
}
.floatboxes{
  padding-right: 150px;
  padding-top: 10px;
}
.textfloatright{
  font-family: 'Arimo', sans-serif;
font-size: 17px;
line-height: 160%;
z-index:100;
margin-left:150px;
}

.image2{
float:left;
  margin-top:20px;
  margin-bottom:30px;
  margin-left:150px;
    margin-right: 30px;

}

@media only screen and (max-width: 750px) {

  .text {
        margin-left:80px;
        width:70%;
    }
    .pullquote1{
      width:70%;
      margin-left:40px;
}
.pullquote2{
  width:75%;
  margin-left:40px;
}
.pullquote3{
  width:75%;
  margin-left:40px;
}
.image{
  background-size: contain;
}
}
@media only screen and (max-width: 450px) {

  .text {
        margin-left:40px;
        width:95%;
}
.pullquote1{
  width:95%;
  margin-left:30px;
}
.pullquote2{
  width:95%;
  margin-left:30px;
}
.pullquote3{
  width:95%;
  margin-left:30px;
}
.playlistBG1{
  visibility: hidden;
}
.playlistBG2{
  visibility: hidden;
}

}
